*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    font-size: 1.2rem;
    
}

/* Header */
figure.imagenBaner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffcd05;
    padding: 10px;
}

/*************** Sección página principal ***************/
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 30px;
    font-weight: 800;
    color: #2973B9;
}
h2{
    margin-bottom: 100px;
}

.header{
    grid-area: header;
    border: 2px solid salmon;
}
.section{
    grid-area: section;
    border: 2px solid blueviolet;
}


.footer{
    grid-area: footer;
    border: 2px solid green ;
    height: 150px;
}
.contenedor{
    background-image: url(./images/wp2png.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    gap: 10px;
    grid-template:
        "header" 150px
        "section" auto
        "footer"150px;
    text-align: center;
}

.bg-pokemon{
    width: 200px;
}

.bienvenida{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.63);
    -webkit-box-shadow: -5px 11px 15px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 11px 15px -6px rgba(0,0,0,0.75);
    box-shadow: -5px 11px 15px -6px rgba(0,0,0,0.75);
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 2rem;
    position: relative;
}
.info{
    font-size: 1rem;
    /* padding: 20px; */
    text-align: justify;
}

.btn-play, .btn-volver{
    background: #2AAF16;
    border: none;
    padding: 10px;
    width: 50%;
    border-radius: 20px;
    font-size: 1rem;
    color: white;
}


footer{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}






/*************** Segunda Pantalla ***************/

.tablero{
    height: 100%;
    width: 80%;
    background-color: plum;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}


img{
    width: 100px;
}

.area-tarjeta, .tarjeta, .cara{

    cursor: pointer;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}
.tarjeta{
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease;
    animation: iniciar 2s;
    margin: 10px;
}

.delantera,
.trasera{
    width: 100%;
    height: 100%;
    position: absolute;
}

.cara{
    height: 100px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}
.trasera{
    background-color: #2973B9;
    transform: rotateY(180deg);
}

.delantera{
    background: #bbcee0;
}



.tarjeta:active{
    transform: scale(.97);
    transition: transform .2;
}
.area-tarjeta .voltear{
    transform: rotateY(180deg);
}



.fa-question-circle{
    background-color: #85B6FF;
    border-radius: 50px;
}


@keyframes iniciar{
    20%,90%{
        transform: rotateY(180deg);
    }
    0%,100%{
        transform: rotateY(0deg);
    }

} 

/*************** Pantalla Final ***************/

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 800;
}
img{
    width: 200px;
}

.section.pantallaFinal{
    width: 400px;
    height: 400px;
}
.pantallaFinal{
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
}


.contenedor-pokemon{
    margin: 0 auto;
    background-color: #2973B9;
    height: 200px;
    width: 300px;
    border-radius: 20px;
}

.felicitacion {
    background-color: #FFCB05;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 180px;
    left: 100px;
    width: 200px;
    height: 120px;
    border-radius: 20px;
    text-align: center; 
}
.btn-volver{
    margin-top: 6rem;
    width: 60%;
    padding: 15px;
    font-size: 1.5rem;
}

/* Media queries */
@media screen and  (min-width:600px) {
    h1{
        font-size: 2.5rem;
    }
    .bienvenida{
        width: 800px;
        height: 600px;
    }
    .info{
        font-size: 2rem;
        margin-bottom: 3rem;
        padding: 2rem;
    }
    
    .btn-play, .btn-volver{
        padding: 30px;
        font-size: 2rem;
    }
    footer{
        font-size: 2rem;
    }
    
    /* segunda Pantalla */
    .area-tarjeta, .tarjeta, .cara{
        min-width: 200px;
        
    }
    .cara{
        height: 200px;
        font-size: 100px;
    }
    
    h2{
        font-size: 2rem;
    }
    img{
        width: 400px;
    }

    /* Tercera Pantalla */
    .section.pantallaFinal{
        width: 800px;
        height: 600px;
    }
    .contenedor-pokemon{
        height: 450px;
        width: 600px;
    }
    
    .felicitacion {
        top: 350px;
        left: 200px;
        width: 400px;
        height: 200px;
    }
    .btn-volver{
        margin-top: 6rem;
        padding: 20px;
        font-size: 2rem;
    }

}

